{
 "ignorePatterns": [
   "../../wordpress-block-page/node_modules/**/*.css",
   "../../wordpress-block-page/build/*.css",
   "../../library/css/*.min.css"
 ],
 "extends": ["stylelint-config-standard"]
}
