{
 "ignorePatterns": [
   "../../wordpress-block/node_modules/**/*.css",
   "../../wordpress-block/src/style.scss",
   "../../wordpress-block/build/*.css",
   "../../library/css/*.min.css"
 ],
 "extends": "@wordpress/stylelint-config"
}
