{
 "ignorePatterns": [
   "../../wordpress-block-react/node_modules/**/*.css",
   "../../wordpress-block-react/build/*.css",
   "../../library/css/*.min.css"
 ],
 "extends": "@wordpress/stylelint-config"
}
