.span4 {
	float: left;
	width: 20%;
	height: 100%;
}

.span6 {
	float: left;
	width: 50%;
}

.span8 {
	float: left;
	width: 66%;
}

.staff-member-div {
	padding-top: 2em;
	text-align: center;
	min-height: 300px;
	overflow: hidden;
	width: 100%;
	float: left;
}

.staff-member-div div {
	float: left;
}

.staff-portrait {
	width: 124px;
	margin: 0 auto;
}

.title-text {
	color: rgb(128, 128, 128);
	padding: 0 0 0 0;
	padding-top: 1%;
	text-align: center;
	font-size: 1.5em;
}

.name-text {
	width: 100%;
	float: left;
	text-align: left;
	font-size: 1.5em;
	margin-bottom: 5px;
}

.bio-text {
	width: 100%;
	float: left;
	font-size: 1.2em;
	line-height: 29px;
	padding-bottom: 4%;
	text-align: left;
}

.cool-underline {
	background: #10518f;
}
